<template>
  <div>
    <h1>Object</h1>
    <p>REST data: {{ retrieveData }}</p>
    <ul>
      <li v-for="item in retrieveData" :key="item.message">
        {{ item }}
      </li>
    </ul>
  </div>
</template>


<script>
  import http from "../http-common";

  export default {
    name: 'List',
    data() {
      return {
        retrieveData: "no data"
      }
    },
    methods: {
      loadData() {
        http
                .get("list/")
                .then(response => {
                  this.retrieveData = response.data; // JSON are parsed automatically.
                  console.log(response.data);
                })
                .catch(e => {
                  console.log(e);
                });
      }
    },
    mounted() {
      this.loadData();
    }
  }
</script>