<template>
  <div>
    <h1>Object</h1>
    <p>REST data: {{ retrieveData }}</p>
    <div>
      <strong>parse data:</strong> {{ retrieveData.intField }}
      <br />
      <strong>parse data:</strong> {{ retrieveData.stringField }}
      <br />
    </div>
  </div>
</template>


<script>
  import http from "../http-common";

  export default {
    name: 'Object',
    data() {
      return {
        retrieveData: "no data"
      }
    },
    methods: {
      loadData() {
        http
                .get("object/")
                .then(response => {
                  this.retrieveData = response.data; // JSON are parsed automatically.
                  console.log(response.data);
                })
                .catch(e => {
                  console.log(e);
                });
      }
    },
    mounted() {
      this.loadData();
    }
  }
</script>