<template>
  <div>
    <h1>Simple</h1>
    <p>REST data: {{ simpleData }}</p>
  </div>
</template>


<script>
  import http from "../http-common";

  export default {
    name: 'Simple',
    data() {
      return {
        simpleData: "no data"
      }
    },
    methods: {
      loadData() {
        http
                .get("simple-data/")
                .then(response => {
                  this.simpleData = response.data; // JSON are parsed automatically.
                  console.log(response.data);
                })
                .catch(e => {
                  console.log(e);
                });
      }
    },
    mounted() {
      this.loadData();
    }
  }
</script>