<template>
  <div id="app">
    <router-link to="/">Home</router-link>
    <router-link to="/simple/">Simple</router-link>
    <router-link to="/list/">List</router-link>
    <router-link to="/object/">Object</router-link>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>